 .sort-bar {
    width: 40px;
    margin-right: 5px;
  }
  
  .sort-container {
    background-color: #10163a;
    border-radius: 10px;
  }
  
  .sort-chart {
    width: 400px; 
    height: 300px; 
  }