.sortAnimationContainer{
    display: flex;
    min-height: 60vh;
}

.visualisationContainer{
    flex: 1;
    background-color: #1c163a;
    margin: 2em;
    padding: 1em;
    outline-style:solid;
    outline-color: black;
    outline-width: 0.15em;
    border-radius: 10px;
    padding-top: 0.2em;
}

.visualisationControlsContainer{
    flex: 0.5;
    background-color: #1c163a;
    margin: 2em;
    
    outline-style:solid;
    outline-color: black;
    outline-width: 0.15em;
    border-radius: 10px;
    padding-top: 0.2em;
    display: flex;
    flex-direction: column;
}

.controls{
    flex: 2;
    background-color: #10163a;
    border-radius: 10px;
    margin: 1em;
    outline-style:solid;
    outline-color: orange;
    outline-width: 0.15em;
    padding-bottom: 1em;
}

.dropBox{
    background-color: white;
    color: black;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px; 
    padding: 8px;
    width: 200px; 
}

.customInputs{
    flex: 1;
    background-color: #10163a;
    border-radius: 10px;
    margin: 1em;
    outline-style:solid;
    outline-color: orange;
    outline-width: 0.15em;
}

.customInputs{
    padding-bottom: 0.5em;
}