.bubble-sort-state {
    display: flex;
  }
  
  .sort-bar {
    width: 40px;
    margin-right: 5px;
  }
  
  .bubble-sort-container {

  }
  
  .bubble-sort-chart {
    width: 400px; 
    height: 300px; 
  }