.profile-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-left: 10em;
    margin-right: 10em;
  }
  
  .profile-flex-items {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin: 1em;
    border-radius: 20px;
    background-color: #10163a;
    outline-style: solid;
    outline-color: greenyellow;
    outline-width: 0.2em;
  }
  
  .profile-flex-items:nth-child(1) {
    padding-bottom: 2em;
  }
  
  .profile-flex-items:nth-child(2) {
    padding-bottom: 1em;
    font-size: 1.3em;
  }
 
  .notFoundBox{
    border: 2px solid;
    margin: auto;
    width: 40%;
    padding: 1vh;
    padding-bottom: 5vh;
   
    outline-style:solid;
    outline-color: #FFF;
    outline-width: 0.1em;
    border-radius: 20px;
}

.progressionChart {
  max-width: 60vh;
  margin: 0 auto;
  text-align: center;
}

.user-details {
  flex-grow: 2;
  font-size: 1.3em; 
  padding: 20px; 
}