.navbar{
  height: 2em;
}

.navbar {
  background-color: #1c163a;;
  padding: 15px 20px;
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.navbar li {
  display: inline-block;
  margin-right: 1%;
  color: white;
}


.rightButton {
margin-left: auto;
}

  a {
    font-weight: 500;
    color: #FAF9F6;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }