.navbar{
  height: 2em;
}

.navbar {
  display: flex;
  background-color: #1c163a;
  padding: 15px 20px;
  margin: 0;
  top: 0;
  left: 0;
  align-items: center;
  overflow: hidden;
  outline-style:solid;
  outline-color: black;
  outline-width: 0.05em;
}

.navbar li {
  display: inline-block;
  color: white;
}

.firstNavSection{
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.firstNavSection li {
  display: inline-block;
  margin-right: 5%;
  color: white;
}

.secondNavSection {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  background-color: #1c163a;
  padding: 15px 20px;
  align-items: center;
  overflow: hidden;
}

.secondNavSection li{
  margin-right: 1%;
  margin-left: 1%;
}

  a {
    font-weight: 500;
    color: #FAF9F6;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }